{% extends 'main/base.html' %}

{% block content %}
<br><br>
<div class="container">
    <div class="container">
        <div class="card" style="width: 65rem;">
            <div class="card-body">
                <h5 class="card-title">Contact Us</h5>
                <p class="card-text">Meet Us: Shah Villa, Mazar, Uttarkhan, Dhaka, Bangladesh</p>
                <p class="card-text">Call Us: +880 196200 8349</p>
                <p class="card-text">Email Us: digiqnfinance@gmail.com</p>
                <a href="https://www.facebook.com/profile.php?id=61555545818660" class="card-link">FaceBook</a>
                <a href="https://www.instagram.com/digiqn/" class="card-link">Instagram</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}