

{% extends 'main/base.html' %}

{% block content %}
<style>
    /* Add your CSS styles here */
    .login-container {
        max-width: 400px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f8f8f8;
    }

    .login-form {
        display: flex;
        flex-direction: column;
    }

    .login-form label {
        margin-bottom: 8px;
    }

    .login-form input {
        padding: 10px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .login-btn {
        background-color: #4caf50;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .login-btn:hover {
        background-color: #45a049;
    }
</style>
<br>
<div class="login-container">
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}" class="login-form">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit" class="login-btn">Login</button>
    </form>
</div>
{% endblock %}