{% extends 'main/base.html' %}

{% block content %}
<br><br>
<div class="container">
    <div class="container">
        <div class="card" style="width: 60rem;">
            <div class="card-body">
                <h5 class="card-title">What We Do?</h5><br>
                <h6 class="card-subtitle mb-2 text-body-secondary">We make sure you don't get SCAMMED!</h6><br>
                <h6 class="card-subtitle mb-2 text-body-secondary">HOW?</h6>
                <p class="card-text">The process is easy. First you have to tell the person/organization you are buying a service from to send you a payment request from DIGIQN. Then you will receive a request
                    and you have to pay the price + 5 taka + 1%. And we will hold the amount but notify the seller. They will provide you the service and after you get the service you just have to confirm. The seller will get their money. In case any party provide false confirmation, and the other can provide strong prove like- Screenshots etc. and we will take required action. Easy but effective. 
                </p>
                <h5>More Information Coming Soon.......</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}